doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        title Admin Panel
    body
        include ./header.pug
        #container_form
            #admin_buttons
                form(action="/api/astronomy/guild/users", method="post") 
                    input(type="submit", value="Users")
                form(action="/api/astronomy/guild/search", method="post") 
                    input(type="submit", value="Search User")