nav(role='navigation')
  #menuToggle
    input(type='checkbox')
    span
    span
    span
    ul#menu
      a(href='/')
        li Home
      a(href='/landings')
        li Landings
      a(href='/neas')
        li NEAs
      a(href='/register')
        li Register
      a#aSign(href='/signin')
        li#liSign Sign in
  script.

    let liSign = document.querySelector('#liSign');
    let aSign = document.querySelector('#aSign');


    if(sessionStorage.getItem('logged')){
      liSign.innerHTML = "Log Out"
      aSign.href ="/logout"
      aSign.addEventListener('click', () => {
        sessionStorage.removeItem('logged');
        });
    }else{
      liSign.innerHTML = "Sign In"
      aSign.href ="/signin"
      }

   

